.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.page{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.page img{
  width: 200px;
  margin-top: auto;
  align-self: center;
}

.page-iphone{
  background: #111;
  color: #FFF;
}
.page-tablet{
  background: #fafafa;
}
.page-airpods{
  background: #f1f1f3;
}